*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
  display: flex;  
  margin: 10px;
  width: 350px;
  height: 60px;  
  border-radius: 10px;
  list-style-type: none;
  background-color: black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.result{
  text-align: center;
  background-color: hsl(252, 100%, 67%);
  color: white;
  border-radius: 10px;
  width: 400px;
  height: 100%;
}
.result>h4{
  margin: 40px;  
}
.result>h2{
  margin: 30px;
}
.base{
  display: flex;
  border-radius: 10px;
  width: 800px;
  height: 85%;
  box-shadow: 20px 20px 20px hsl(221, 100%, 96%);
}
.summary{
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.circle{
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  width: 50%;
  height: 34%;
  background:  linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.reaction{
  background-color:hsla(0, 100%, 67%, 0.123);
}
.memory{
  background-color:  hsla(39, 100%, 56%, 0.123);
}
.verbal{
  background-color:  hsl(166, 100%, 37%, 0.123);
}
.visual{
  background-color: hsl(234, 85%, 45%, 0.123);
}